/*header style start*/
body{
    font-family: 'Oxygen', sans-serif!important;
}
#headbarblack{
    background-color:#000000;
    height:7vh;
}
#searchbardiv{
    display: flex;
    margin-top:1%;
    border:1px solid #85939f;
}
.headsearchbar{
    margin:0 auto;
    background:transparent;
    color:#6a767f;
    border:none;
    flex: 1;
    height:3vh;

}
.searchbutton
{
    width: auto;
    background-color: transparent;
    border: none;
}
#headsearchbar[placeholder]{
    padding:3%;
    color:#6a767f;
}
.blackheadlist {
    margin-top:1%;
    float: right;
    list-style-type: none;
    margin-right: 10%;

}
.blackheadlist a {

    color:#85939f;
    text-decoration: none;


}
#headergray {
    background-color: #474747;
    color: white;
    height:11vh;
}
.headitems {
    float: left;
    list-style-type: none;
    margin-bottom: 3%;
    color: white;
    text-decoration: none;
}
.headitems p{
    padding: 0px 18%;
}
.headitembar{
    border: none;
    height: 1vh;
    margin-top:0;
}
#headitem1 {

    /* Set the hr color */
    color: #ffae00; /* old IE */
    background-color: #ffae00; /* Modern Browsers */
}

#headitem2 {

    /* Set the hr color */
    color: #fc7100; /* old IE */
    background-color: #fc7100; /* Modern Browsers */
}

#headitem3 {

    /* Set the hr color */
    color: #e51c5e; /* old IE */
    background-color: #e51c5e; /* Modern Browsers */
}

#headitem4 {

    /* Set the hr color */
    color: #ae0f8d; /* old IE */
    background-color: #ae0f8d; /* Modern Browsers */
}

#headitem5 {

    /* Set the hr color */
    color: #6d0fae; /* old IE */
    background-color: #6d0fae; /* Modern Browsers */
}

#headitem6 {

    /* Set the hr color */
    color: #33227a; /* old IE */
    background-color: #33227a; /* Modern Browsers */
}

#headitem7 {
    ;
    /* Set the hr color */
    color: #0c8fcc; /* old IE */
    background-color: #0c8fcc; /* Modern Browsers */
}

/*header style end*/

/*home style start*/
.insideslide{
    position: absolute;
    top:37%;
    left:30%;

}
.insideslide h1
{
    font-size:60px;
}

.seefeatures
{
    width: 7vw !important;
    background-color: #02baab;
    border-radius: 0% !important;
    margin-right: 2%;
    font-weight: bold !important;
    letter-spacing: 1px;
    font-size: 12px !important;
    color: white;
    padding: 1% 2% !important;
}
.purchasenow{
    width: 7vw !important;
    background-color:transparent;
    border:1px solid #02baab !important;
    border-radius:0%!important;
    margin-left:2%;
    font-weight:bold !important;
    letter-spacing: 1px;
    font-size:12px !important;
    color:#02baab;
    padding: 1% 2% !important;
}
/*home style ends*/
/*Steal of the month starts*/
#stom{
    background-color:white;
}
#sotm h1{
    margin-top: 10%
}
#sotm hr{
    width: 3vw;
    height: 1vh;
    background-color:#eeeeee;
}
#sotm p{
    margin-top: 1%;
    font-size: 18px;
    line-height: 30px;
    padding: 2%;
}
.sotmbtn
{
    width:140px!important;
    background-color:transparent;
    border:2px solid #02baab !important;
    border-radius:0%!important;
    margin-bottom: 100px !important;
    font-weight:bold !important;
    letter-spacing: 1px;
    font-size:12px !important;
    color:#02baab;
    padding: 8px 12px !important;
    margin-bottom:10%;
}
/*steal of the month ends*/
/*latest work starts*/
#lw{
    margin-bottom:4%;
    background-color:#525252;
    color:white;
}
#lw h1{
    margin-top: 10%;
}
#lw hr{
    width: 3vw;
    height: 1vh;
    background-color:#eeeeee;
}
#lw p{
    margin-top: 3%;
    font-size: 18px;
    line-height: 110%;
    padding-left: 4%;
    padding-right: 4%;
}
#lw .box{

    background-color:#cccccc;
}

.lwboxbottom
{
    position: absolute;
    bottom: 0px;
    width:100%;
    background-color: #3D3D3D;
    left: 0px;
}
#lwboxfirsttext{
    font-size: 14px !important;
    margin-top: 4% !important;
    line-height: 0px !important;
    padding: 5% 5% 2% !important;


}
#lwboxsecondtext{
    font-size: 11px !important;
    margin-top: 6%!important;
    margin-bottom:8%!important;
    line-height: 0px !important;
    padding: 0% 5% !important;
    color: #02baab;

}
.boxbuttons{
    display: list-item;
    list-style: none;
    margin-top: 15%;
    margin-bottom: 15%;
    visibility: hidden;
}
#latestbox1, #latestbox2 {
    margin-right:2%;
}


#lw .box li .btn{
    height: 6vh;
    width:3vw;
    border-radius: 50%;
    margin: 2% 0%;
    background-color: #02baab !important;
    padding: 0px !important;
}
#lw .glyphicon
{
    font-size:100%;
}
.hide2{

    background-color:#666666 !important;

}
/*latest work end*/
/*superb features starts*/
#sf{
    margin-bottom:4%;
}
#sf h1{
    margin-top:10%;
}
#sf hr{
    width: 3vw;
    height: 1vh;
    background-color:#eeeeee;
}
#sf h3
{
    font-size:24px;
}
#icons
{
    font-size: 300%;
    margin-top: 1%;
    color: #02baab;
}

/*superb features starts*/
/*slider2 starts*/
#slider2{
}
#slider2 .carousel-inner{
    top:0px!important;
}
#slider2 .bullets
{
    position: absolute;
    top: 85%;
    width: 100%;
    left: -2%;
}
#slider2 .carousel-indicators{
    display: inline-block;
}
#slider2 .bullets .carousel-indicators li{

    width: 0.5vw !important;
    height: 1vh !important;
    margin: 0px 0px 0px 1% !important;
    text-indent: -999px;
    cursor: pointer;
    background-color: white;
    background-color: rgba(0,0,0,0);
    border: none !important;
    border-radius: 50% !important;
}
#slider2 .carousel-indicators .active{

    background-color: #32928a !important;
    background-color: rgba(0,0,0,0);
    border:none!important;
}
/*slider2 ends*/
/*latest blog post starts*/
#latestblogpost h1{
    margin-top:7%;
}
#latestblogpost h2
{
    color:#67ccc2 !important;
}
#latestblogpost p
{
    color:#555555 !important;
}
#latestblogpost img
{
    width:100%;
}
#latestblogpost a
{
    font-size:14px;
}
#latestblogpost .blogblocks
{
    margin-right:1%;
    border:1px solid black;
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-bottom:3%;
}
/*latest blog post ends*/
/*company experience post starts*/
#ce{
    background-color:#02baab;
}
#ce h1{
    margin-top:10%;
    color:white;
}
#ce hr{
    width: 3vw;
    height: 1vh;
    background-color:#eeeeee;
}
#ce #outer
{
    border:1px solid black;
    border-radius:50%;
}