/*!
 * Start Bootstrap - Full Slider HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */



.carousel,
.item,
.active {
    height: 100%;
}
.carousel-inner {
    height: 100%;

}

/* Background images are set within the HTML using inline CSS, not here */
.carousel-indicators{
    position: absolute !important;
    left: 20% !important;
    bottom: -130% !important;
    margin-left: 2% !important;
    width: 58% !important;
}
.carousel-indicators li{


    width: 1.2vw !important;
    height: .5vh !important;
    margin: 0px 0px 0px 1% !important;
    text-indent: -999px;
    cursor: pointer;
    background-color: white!important;
    background-color: rgba(0,0,0,0);
    border:none!important;
    border-radius: 0 !important;

}

.carousel-indicators .active{
    background-color: #02baab !important;
    background-color: rgba(0,0,0,0);
    border:none!important;
}




